.menu{
    width: 20vw;
    height: fit-content;
    background-color: #1b1f3c;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    border-radius: 10px;
    display: none;
    transform: translateY(-100%);
    transition: all 0.3s ease;
}

.menuContainer{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menuOption{
    font-size: 16px;
    color: #ffffff;
    padding: 10px 15px;
    cursor: pointer;
    width: 100%;
    opacity: 0.5;
    transition: all 0.3s ease;
}
.menuOption:hover {
    opacity: 1;
}

.searchBar {
    width: 100%;
    background-color: #edf1f9;
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 16px;
    outline: none;
    border: 2px solid #1b1f3c;
    transition: all 0.3s ease;
}

.searchBar:focus {
    border-color: #02149c;
}

.searchBar::placeholder {
    color: #1b1f3c;
}

.hideBar{
    width: 90%;
    height: 2vw;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.hideBar img{
    width: 10px;
    height: auto;
}

.up{
    transition: all 0.3s ease;
    transform: rotateX(180deg);
}

@media (max-width: 768px) {
    .menu{
        width: 48vw;
    }

    .hideBar {
        height: 2vh;
    }

    .menuOption:hover {
        opacity: 0.5;
    }
}
